<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>自主路径/VIAE SUAE</title>
  <!-- 引入样式表 -->
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
  <style>
    @font-face{
      font-family: "LBS";
      src: url("OldNewspaperSung.ttf");
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
  <!-- 顶部导航栏 -->
  <header>
    <nav class="navbar">
      <div class="logo"><a href="{{ '/' | relative_url }}">VIAESUAE</a></div>
      
      <ul class="nav-links">
        <li><a href="{{ '/' | relative_url }}#updates"><b>最新</b></a></li>
        <li><a href="{{ '/' | relative_url }}#category"><b>分类</b></a></li>
        <li><a href="{{ '/' | relative_url }}#glossary"><b>名词解释</b></a></li>
        <li><a href="{{ '/' | relative_url }}#faq"><b>常见解答</b></a></li>
        <li><a href="{{ '/' | relative_url }}#donate"><b>捐赠</b></a></li>
        <li><a href="{{ '/references.html' | relative_url }}"><b>参考</b></a></li>
        <li><button id="theme-toggle">日/夜</button></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <!-- 页脚 (可选) -->
  <footer class="footer">
    <p>&copy; 2025 VIAESUAE. All rights reserved.</p>
    <p><a>用户协议</a><a>|</a><a href="mailto:karlinmenthlo@gmail.com">联系我们</a><a>|</a><a>加入我们</a></p>
  </footer>

  <!-- 引入脚本文件 -->
  <script src="{{ '/script.js' | relative_url }}"></script>
</body>
</html>
